<div class="fixed-action-btn"> <!-- Floating action button container -->
    <p style="color: white;">Add Event</p> <!-- Text for the floating action button -->
    <a href="/events/add" class="btn-large blue" style="border-radius: 5px;"> <!-- Button link to the 'Add Event' page with styling -->
        <i class="fas fa-plus"></i> <!-- Icon for the 'Add Event' button -->
    </a>
</div>
