<footer class="page-footer grey darken-3"> <!-- Footer container with dark background color -->
        <div class="container"> <!-- Container for the footer content -->
            <div class="row"> <!-- Row for organizing the footer content -->
                <div class="col l6 s12"> <!-- First column for logo and description -->
                     <i class="fas fa-graduation-cap" style="font-size: 50px; border-radius: 50%; background-color: #4d8fcd; color: #ffffff; padding: 20px;"></i> <!-- Icon for the logo with styling -->
                    <h5 class="white-text">Alumni Events</h5> <!-- Title for the footer -->
                    <p class="grey-text text-lighten-4">Stay connected and never miss out on exciting alumni events.</p> <!-- Description for the footer -->
                </div>
                <div class="col l4 offset-l2 s12"> <!-- Second column for footer links -->
                    <h5 class="white-text">Links</h5> <!-- Title for the links section -->
                    <ul>
                       
            {{#if user}} <!-- Conditional statement for displaying links based on user login status -->
              <!-- Display these links only when the user is logged in -->
              <li><a href="/dashboard">Dashboard</a></li> 
              <li><a href="/events">Upcoming Events</a></li>
              <li><a href="/contact">Contact Us</a></li> 
              <li><a href="/users/logout" class="btn red">Logout</a></li> 
            {{else}}
              <!-- Display these links only when the user is not logged in -->
              <li><a href="/">Home</a></li> 
              <li><a href="/about">About Us</a></li> 
              <li><a href="/events">Upcoming Events</a></li> 
              <li><a href="/contact">Contact Us</a></li> 
              <li><a class="btn blue" href="/login" >Login/Signup</a></li> 
            {{/if}}
             <div class="social-icons">
        <!-- Replace the placeholder URLs with the actual links to your social media profiles -->
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      
                </div>
            </div>
        </div>
    </footer>
