<!DOCTYPE html> <!-- Document type declaration -->
<html lang="en"> <!-- Language attribute for the document -->

<head>
    <meta charset="UTF-8"> <!-- Character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive meta tag for the device width -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!-- Materialize CSS library link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" /> <!-- Font Awesome CSS library link -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Custom CSS file link -->
    <title>Alumni Events Login</title> <!-- Title of the webpage -->
</head>

<body>
    <div class="container login-container"> <!-- Container for the login content -->
        <div class="card"> <!-- Card element for styling the content -->
            <div class="card-content">
                {{{body}}} <!-- Dynamic content injection -->
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> <!-- Materialize JavaScript library link -->
</body>

</html>
