<!-- FILEPATH: /c:/Users/User/alumnievent/views/home.hbs -->
<div class="container-xxl bg-white p-0 ">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center ">
        <div class="spinner-border text-primary " style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 ">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/images/graguate.png" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(43, 57, 64, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Welcome to the Alumni Events
                                    Platform</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Stay connected with your university
                                    alumni and participate in various exciting events.</p>
                                <a href="" class="btn btn-primary py-md-2 px-md-5 me-3 animated slideInLeft">Explore
                                    Events</a>
                                <a href="" class="btn btn-secondary blue py-md-2 px-md-5 animated slideInRight">Find
                                    Opportunities</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore Events By Category</h1>
            <div class="row mt-4">
                <div class="col-sm-12 col-md-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <i class="fas fa-briefcase fa-3x mb-3"></i>
                            <h5 class="card-title">Professional Development</h5>
                            <p class="card-text">Connect with alumni and expand your professional network through
                                specialized development opportunities.</p>
                            <a href="/events" class="btn btn-light">View More</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <i class="fas fa-users fa-3x mb-3"></i>
                            <h5 class="card-title">Networking Events</h5>
                            <p class="card-text">Participate in networking events to establish meaningful connections
                                with fellow alumni and professionals.</p>
                            <a href="/events" class="btn btn-light">View More</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <i class="fas fa-university fa-3x mb-3"></i>
                            <h5 class="card-title">Campus Events</h5>
                            <p class="card-text">Be part of exciting campus events that bring the alumni community
                                together for memorable experiences.</p>
                            <a href="/events" class="btn btn-light">View More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Category End -->



    <!-- Jobs Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Featured Opportunities</h1>
            <!-- Additional content: Featured Opportunities -->


            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-laptop-code fa-3x mb-3"></i>
                            <h5 class="card-title">Software Engineer Internship</h5>
                            <p class="card-text">Exciting opportunity for a software engineering internship. Gain
                                hands-on experience in developing cutting-edge applications.</p>
                            <a href="https://www.paragonone.com/externships" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-bullhorn fa-3x mb-3"></i>
                            <h5 class="card-title">Marketing Assistant</h5>
                            <p class="card-text">Collaborate with a dynamic and innovative group of professionals, 
                                contributing your skills to drive brand awareness and engage target audiences through strategic marketing initiatives.</p>
                            <a href="https://www.paragonone.com/externships" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-code fa-3x mb-3"></i>
                            <h5 class="card-title">Frontend Developer Position</h5>
                            <p class="card-text">We are looking for a skilled frontend developer to contribute to the
                                development of our web applications.</p>
                            <a href="https://www.paragonone.com/externships" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div>
                      
                </div>

                <div class="col-sm-6 col-md-12 center">
                   <a class="btn btn-primary " href="">Browse More Opportunities</a>
                </div>
             

            </div>
        </div>
    </div>
    <!-- Jobs End -->


   <!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">What Our Alumni Say!!!</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Enrolling in this program was a pivotal moment in my career. The curriculum's balance of theory and practical application was spot-on, preparing me for the complexities of my field. The unwavering support from the faculty and the collaborative learning environment were key factors in my success.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="/images/testimonial-5.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Alexandra Reynolds</h5>
                        <small>Data Scientist</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>This program exceeded my expectations with its comprehensive approach. The hands-on projects and industry-relevant curriculum equipped me with a strong foundation, propelling my career forward. The networking opportunities and mentorship I received here have been invaluable, and I highly recommend this program to anyone aiming for professional excellence.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="/images/testimonial-6.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Christopher Turner</h5>
                        <small>Marketing Manager</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>The program's emphasis on practical skills and real-world applications significantly contributed to my professional growth. The supportive community and interactive learning approach fostered a positive and enriching educational journey. I am grateful for the opportunities this program has opened up for me, and I'm proud to be an alumnus.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="/images/testimonial-7.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Natalie Martinez</h5>
                        <small>Financial Analyst</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>This program is a game-changer. The challenging projects and expert guidance provided me with a solid skill set that I apply daily in my work. The personalized attention and mentorship from the faculty were instrumental in shaping my career trajectory. I highly recommend this program to anyone seeking excellence in their chosen field.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="/images/testimonial-8.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Oliver Williams</h5>
                        <small>UX Designer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

