/* These CSS styles define various aspects of the appearance of the webpage, 
including common styles for the body,login container, icons, buttons, links,
 and the sticky footer.
Common styles */

/* Common styles */
body {
  /* General styles applied to the entire page */
  font-family: Arial, sans-serif;
  background-color: #FFFFFF; /* White background */
  color: #000000; /* Black text */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Margin for paragraphs */
p {
  margin: 10px 0 !important;
}

/* Login container styles */
.login-container {
  /* Styling specific to the login container */
  width: 400px;
  margin-top: 50px;
  text-align: center;
  background-color: #4d8fcd; /* Custom color C86116 */
  color: #000000; /* Black text */
  padding: 20px;
  border-radius: 10px;
}

/* Small icon */
.fa-small {
  /* Styles for small-sized icons */
  font-size: 16px !important;
  color: blue; /* Custom color C86116 */
}

/* Floating button styles */
.btn-float {
  /* Styles for floating buttons on the webpage */
  float: left;
  margin-right: 10px;
}

/* Small image styles */
.img-small {
  /* Styles for small-sized images */
  width: 180px;
  border-radius: 50%;
}

/* Large icon */
.fa-large {
  /* Styles for large-sized icons */
  font-size: 26px !important;
  color: rgb(21, 104, 182); /* Custom color C86116 */
}

/* Input group styles */
.input-group {
  /* Styles for input group containers */
  display: table;
  width: 100%;
}

.input-group .input-field,
.input-group .input-group-addon {
  /* Styles for input fields and addons within the input group */
  display: table-cell;
}

/* Search form styles */
.search-form {
  /* Styles applied to the search form */
  margin: 70px 0;
}

/* Custom button styles */
.button {
  /* Styling for custom buttons on the webpage */
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #C86116; /* Custom color C86116 */
  color: #FFFFFF; /* White text */
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  /* Hover effect for custom buttons */
  background-color: #000000; /* Black background */
}

/* Custom link styles */
.link {
  /* Styling for custom links */
  color: #C86116; /* Custom color C86116 */
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  /* Hover effect for custom links */
  color: #000000; /* Black text */
}

/* Sticky footer */
html {
  /* Styles for the sticky footer */
  position: relative;
  min-height: 100%;
}

/* Sticky footer */
footer {
  /* Styles for the footer section */
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
  width: 100%;
}
